body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  padding: 15px;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #3b82f6;
}

/* CONTAINER */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

/* TITRES */
h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
img {
  width: 250px;
  border-radius: 12px;
  margin: 15px;
}

/* BUTTON */
button {
  background: #3b82f6;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2563eb;
}

/* TABLE */
table {
  margin: auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
  padding: 8px;
}

/* LIST */
ul, ol {
  text-align: left;
  display: inline-block;
}

/* VIDEO */
video {
  margin-top: 15px;
  border-radius: 10px;
}